<div class="card text-white bg-dark mb-3">
    <h1 class="center">Administración</h1>
</div>

    <hr />

    <div class="container">
        <div class="row">

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Carritos</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Carritos" asp-action="">Ver carritos</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Carritos" asp-action="Create">Nuevo carrito</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">CarritoItems</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="CarritoItems" asp-action="">Ver carritoItems</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="CarritoItems" asp-action="Create">Nuevo carritoItem</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Categorias</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Categorias" asp-action="">Ver categorias</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Categorias" asp-action="Create">Nueva categoria</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Clientes</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Clientes" asp-action="">Ver clientes</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Clientes" asp-action="Create">Nuevo cliente</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Empleados</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Empleados" asp-action="">Ver empleados</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Empleados" asp-action="Create">Nuevo empleado</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Compras</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Compras" asp-action="">Ver compras</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Compras" asp-action="Create">Nueva compra</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Productos</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Productos" asp-action="">Ver productos</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Productos" asp-action="Create">Nuevo producto</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">StockItems</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="StockItems" asp-action="">Ver stockItems</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="StockItems" asp-action="Create">Nuevo stockItem</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="col-md-4 form-group center">
                <div class="card bg-light">
                    <h5 class="card-header">Sucursales</h5>
                    <br />
                    <div class="">
                        <a class="btn btn-primary" asp-area="" asp-controller="Sucursales" asp-action="">Ver sucursales</a>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Sucursales" asp-action="Create">Nueva sucursal</a>
                    </div>
                    <br />
                </div>
            </div>

        </div>
    </div>







