

<body class="noAutorizado">

    <div class="col-md-12 noAutorizado d-flex align-items-center justify-content-center">
        <i class="fa fa-exclamation-triangle fa-7x" aria-hidden="true"></i>
        <br />
        <h1 class="m-5">Acceso no autorizado !</h1>
    </div>


    <br />
    <br />

    <div class="form-row d-flex justify-content-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Regresar a la página de inicio</a>
        </div>
    </div>

</body>


